{% extends 'basecss.html' %}
{% load static %}
{% block content %}
<style>
    body {
      font-family: Helvetica, sans-serif;
      padding: 5%;
      text-align: center;
      font-size: 50;
    }
    
  </style>
</head>
<div>
<body>
  <h1>All Campaigns</h1>
  <table class="table table-striped table-hover table-bordered">
  {% for campaign in campaign_page %}
  <tr>
      <td>
  <a href="{% url 'show-campaigns' campaign.id %}" class="btn btn-outline-primary"> {{ campaign.campaign }}</a><br/>
  
      </td>
     
  </tr>
  {% endfor %}
  </table>
  <br>
  <hr><br><br>
{% include "paginate.html" %}

</body>
</div>

{% endblock content %}