{% extends 'basecss.html' %}

{% block content %}
<style>
    .content-section{
        display: block;
        margin-top: 50px;
        margin-left: 75px;
        margin-right: 75px;
    }
    h1 {
        text-align: left;
    }
    button{
        align-items: center;
    }
    
</style>
{% if form.errors %}
<br>
<br>
<br>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}




    <div class = 'content-section' >
        <h1>Register</h1>
        
        <form method ='POST' action="{% url 'register_user' %}">
            {% csrf_token %}
            
            {{ form.as_p }}
               
                <button type="submit" class="btn btn-primary">Submit</button>
              
        </form>
        
    </div>
    {% endblock content %}
